/* GlitchEffect.css */

body {
    background-color: #232323;
  }
  
  .glitch {
    font-size: 8.125em; /* Default size */
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    letter-spacing: 5px;
    display: inline-block;
    white-space: nowrap;
    width: 30px; /* Set the width of the text container */
    text-align: center; /* Center the text within the container */
  }
  
  /* Glitch effect styling */
  .glitch:before,
  .glitch:after {
    display: block;
    content: attr(data-glitch);
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10%;
    opacity: 0.8;
  }
  
  .glitch:after {
    color: #f0f;
    z-index: -2;
  }
  
  .glitch:before {
    color: #0ff;
    z-index: -1;
  }
  
  .glitch:hover:before {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both 5;
  }
  
  .glitch:hover:after {
    animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both 5;
  }
  
  @keyframes glitch {
    0% {
      transform: translate(0);
    }
    20% {
      transform: translate(-5px, 5px);
    }
    40% {
      transform: translate(-5px, -5px);
    }
    60% {
      transform: translate(5px, 5px);
    }
    80% {
      transform: translate(5px, -5px);
    }
    100% {
      transform: translate(0);
    }
  }
  
  /* Responsive font size */
  @media only screen and (max-width: 768px) {
    .glitch {
      font-size: 6vw;
      width: 20vw; /* Adjust width for smaller screens */
    }
  }
  
  @media only screen and (max-width: 480px) {
    .glitch {
      font-size: 8vw;
      width: 20vw; /* Adjust width further for even smaller screens */
    }
  }
  
  @media only screen and (max-width: 400px) {
    .glitch {
      font-size: 10vw;
      width: 200vw; /* Full width on very small screens */
    }
  }
  