.avatar-container {
  position: relative;
}

.avatar-card {
  position: relative;
  perspective: 1000px;
}

.avatar-front,
.avatar-back {
  position: absolute;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.avatar-back {
  transform: rotateY(180deg);
}

.avatar-card:hover .avatar-front {
  transform: rotateY(180deg);
}

.avatar-card:hover .avatar-back {
  transform: rotateY(360deg);
}

/* .fade-in-text {
  animation: fadeIn 2s ease-out forwards;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */
.project-card {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.project-card.fade-in {
  opacity: 1;
  transform: translateY(0);
}
