@media (max-width: 768px) {
  .education-card {
    transition: transform 4s ease, opacity 1s ease;
    transform: translateX(700%);
    opacity: 0;
  }
}
/* Tailwind CSS-compatible style */
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}

.blink-light {
  animation: blink 1s infinite;
}
.animated-border {
  animation: border-move 1.5s infinite alternate;
}

@keyframes border-move {
  0% {
    border-color: red;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
  }
  100% {
    border-color: rgba(255, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(255, 0, 0, 1);
  }
}
